@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.headerq{
    width: 100%;
    height: 40rem;
}
.header{
    height: 40rem;
}
.somos{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
.header-text{
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
    position: relative;
}
.header-conts{
    display: grid;
    grid-template-rows: 10rem 1fr;
    place-items: center;
    height: 30rem;
}
.parrafo-header{
    width: 100%;
    display: grid;
    place-items: center;
}
.header-p{
    width: 25rem;
    display: grid;
    height: 20rem;
    place-items: center;
}
.texto-header{
   display: grid;
   place-items: center;
   margin: 0; 
   font-size: 3rem;
   font-family: "Oswald", sans-serif;
}
.par-header{
    display: grid;
    width: 70%;
    place-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}
.header-text::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #d91111d0 0%, #ad0e0e67 100%);
}
