.mision{
    width: 70%;
    height: 80%;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 1rem;
    place-items: center;
}
.hero-text{
    display: grid;
    place-items: center;
    height: 100%;
    width: 40rem;
}
.hero-text p{
    text-align: start;
    font-size: 1.5rem;

}
.hero{
    margin: 2rem 0;
    display: grid;
    place-items: center;
}

@media (max-width:1040px ) {
    .hero-text p{
        font-size: 1.2rem;
    }
    .hero-container{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        width: 100%;
    }
    .mision{
        width: 100%;
        height: 20rem;
        object-fit: fill;
    }
    .hero-text{
        width: 90%;
    }
}