.mision{
    width: 70%;
    height: 80%;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 1rem;
    place-items: center;
}
.hero-text{
    display: grid;
    place-items: center;
    height: 100%;
    width: 40rem;
}
.hero-text p{
    text-align: start;
    font-size: 1.5rem;

}
.hero{
    margin: 2rem 0;
    display: grid;
    place-items: center;
}