.products{
    display: grid;
    place-items: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.p-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

@media (max-width: 1000px) {
    .p-content{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
}