.btn-mas{
    background: #ad0e0e;
    color: white;
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn-mas:hover{
    background: black !important;
}
.ant-modal{
    top: 35% !important;
}