.footer{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.footer p{
    color: white;
    font-size: 1.2rem;
}
.ref{
    text-decoration: none;
    color: white;
}
.footer-container{
    display: grid;
    width: 100%;
    background: linear-gradient(90deg, #d91111 0%, #ad0e0e 100%);
    height: 10rem;
    place-items: center;
}